.container
{
    display: flex;
    justify-items: center;
    align-items: center;
}

input{
    width: 15%;
}
.display{
    margin-left: 3px;
    width: 185.5px;
    height: 30px;
    border-radius: 20px;
    background-color: gray;
}
button{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: black;
    background-color:rosybrown;
}
th,td{
    text-align: center;
}
#D{
    width: '100%';
    height: '70%';
}
button:hover{
    background-color:darkred;
    
}

table{
    border: solid black 2px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 200px;
    color: darkred;
    background: scroll;
}
.som{
    border-top: 200px;
    
}